{% extends "tasks/base.html" %} {% block title %}{% if is_edit %}Edit Task{%
else %}Create New Task{% endif %}{% endblock %} {% block content %}
<h1>{% if is_edit %}Edit Task{% else %}Create New Task{% endif %}</h1>

<form method="post" class="mt-4">
  {% csrf_token %}
  <div class="form-group mb-3">
    <label>List</label>
    {{ form.todo_list }}
  </div>
  <div class="form-group mb-3">
    <label>Title</label>
    {{ form.title }}
  </div>
  <div class="form-group mb-3">
    <label>Description</label>
    {{ form.description }}
  </div>
  <button type="submit" class="btn btn-primary">
    {% if is_edit %}Update{% else %}Create{% endif %}
  </button>
  {% if is_edit %}
  <a href="{% url 'tasks:task_detail' task.slug %}" class="btn btn-secondary"
    >Cancel</a
  >
  {% else %}
  <a href="{% url 'tasks:index' %}" class="btn btn-secondary">Cancel</a>
  {% endif %}
</form>
{% endblock %}
